.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.block-cards {
  max-width: 600px;
}
.start-button {
  color: #00c6ff;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 350px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  display: block;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #00c6ff 50%,
    #00c6ff
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #00c6ff;
}
.start-button:hover {
  background-position: 0 0;
  color: #fff;
}
.reset-button {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  user-select: none;
  padding: 0.8em 2em;
  outline: none;
  background-color: #000;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(
      190% 100% at 50% 0%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(0, 0, 0, 0) 50%
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
}
.reset-button:active {
  top: 1px;
  box-shadow: none;
}
.reset-button:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0;
}
